allow untrusted_app_27 proc:file { getattr open read };
allow untrusted_app_27 proc_stat:file { getattr open };
allow untrusted_app_27 proc_vmstat:file open;
allow untrusted_app_27 proc_zoneinfo:file { getattr open read };
