allow untrusted_app hal_memtrack_hwservice:hwservice_manager find;
allow untrusted_app priv_app:dir getattr;
allow untrusted_app serialno_prop:file { getattr map open };
allow untrusted_app vendor_default_prop:file { getattr open };
